// media queries for HEADER

@media (max-width: 992px) {
    .header__menu {
        margin-left: 8rem;
    }
}

@media (max-width: 768px) {
    .header__menu {
        margin-left: 4rem;
    }
}

@media (max-width: 479px) {
    .header__menu {
        margin-left: 2rem;
    }

    .menu__link {
        font-size: 1.8rem;
        color: $text-color;
    }

    .header__container {
        min-height: 7rem;
    }
}

// media queries for HERO SECTION

@media (max-width: 1300px) {
    .main-block__image img {
        object-position: right;
    }
}

@media (max-width: 992px) {
    .main-block__image img {
        opacity: 0.5;
    }

    .main-block__body {
        padding: 12rem 0 19.1rem;
    }
}

@media (max-width: 768px) {
    .main-block__title {
        @include font(4rem, 800, calc(6 / 4 * 100%), 0.02rem);
    }

    .main-block__text {
        @include font(1.7rem, 500, calc(2.5 / 1.7 * 100%), 0.02rem);
    }
}

@media (max-width: 479px) {
    .main-block__buttons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-block__text {
        color: $text-color;
    }

    .main-block__button_colored,
    .main-block__button_bordered {
        flex: 1 1 auto;
    }
}

// media queries for SERVICES SECTION

@media (max-width: 1064px) {
    .services__title {
        @include font(2rem, 700, calc(2.7 / 2 * 100%), 0.01rem);
    }

    .services__item {
        padding: 2.5rem 3rem;
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .services__body {
        flex: 0 1 50%;
        flex-wrap: wrap;
    }

    .services__colomn:last-child {
        flex: 2 1 100%;
    }
}

@media (max-width: 768px) {
    .services__colomn {
        border: 1px solid $hover-block;
        padding: 0;
    }
}

@media (max-width: 425px) {
    .page__services {
        margin-top: -15rem;
    }
}

// media queries for ADVANTAGES SECTION

@media (max-width: 1024px) {
    .advantages__colomns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
    }

    .advantages__item {
        width: 40%;
        border-bottom: 3px solid $hover-block;
        // margin-bottom: 2rem;
        padding: 3rem 0;
    }
}

@media (max-width: 768px) {
    .advantages__container {
        gap: 2.5rem;
        padding: 8rem 0;
    }

    .advantages__colomns {
        justify-content: center;
    }

    .advantages__item {
        width: 60%;
        margin-bottom: 0;
    }

    .advantages__title {
        font-size: 3rem;
    }

    .advantages__text {
        font-size: 1.2rem;
        padding: 0 9rem;
    }
}

@media (max-width: 425px) {
    .advantages__container {
        padding: 4rem 0;
    }

    .main-block__title {
        font-size: 3rem;
    }

    .advantages__title {
        font-size: 2rem;
    }

    .advantages__text {
        padding: 0 4.5rem;
    }
}

@media (max-width: 320px) {
    .advantages__title {
        font-size: 1.5rem;
    }

    .advantages__text {
        padding: 0 3rem;
    }
}

// media queries for ADVICE SECTION

@media (max-width: 1024px) {
    .advice__container {
        padding: 0 0 4rem;
    }

    .advice__text {
        padding: 0 8rem;
    }

    .advice__colomns {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .advice__item {
        width: 47%;
        margin-bottom: 0;
        padding: 1rem 0;
        border: 3px solid $hover-block;
    }

    .item__body {
        padding: 1.5rem;
    }

    .item__body-title {
        font-size: 2rem;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .advice__header {
        margin: 3.5rem 6rem;
        padding: 0;
    }

    .advice__text {
        padding: 0;
    }

    .advice__colomns {
        gap: 2rem;
    }

    .advice__item {
        margin-bottom: 0;
    }
}

@media (max-width: 572px) {
    .advice__header {
        padding: 0;
    }

    .advice__text {
        padding: 0;
    }

    .advice__item {
        width: 70%;
    }

    .item__body {
        text-align: center;
        width: 30rem;
    }

    .item__body-title {
        margin: 0 auto;
    }

    .item__img img {
        height: 16rem;
        width: 26rem;
    }
}

@media (max-width: 425px) {
    .advice__title {
        font-size: 2rem;
    }

    .advice__text {
        font-size: 1.2rem;
    }

    .item__body {
        width: 26rem;
    }

    .item__body-title {
        font-size: 1.8rem;
    }
}

@media (max-width: 375px) {
    .advice__header {
        margin: 3.5rem 5rem;
    }

    .item__body {
        width: 24rem;
    }

    .item__body-title {
        font-size: 1.6rem;
    }

    .item__body-text {
        font-size: 1.2rem;
    }

    .item__img img {
        height: 14rem;
        width: 22rem;
    }
}

@media (max-width: 320px) {
    .item__body {
        width: 20rem;
    }

    .item__img img {
        height: 12rem;
        width: 18rem;
    }
}

// media queries for ABOUT SECTION

@media (max-width: 1080px) {
    .about__container {
        padding: 10rem 3rem;
    }

    .about__header {
        padding: 0 11rem;
    }

    .about__columns {
        gap: 6rem;
    }

    .about__img img {
        width: 50rem;
    }

    .about__card-header {
        padding: 0;
    }
}

@media (max-width: 924px) {
    .about__container {
        padding: 5rem 3rem;
    }

    .about__columns {
        align-items: center;
    }

    .about__img img {
        width: 40rem;
    }

    .about__card-title {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .about__container {
        gap: 4rem;
    }

    .about__header {
        padding: 0;
    }

    .about__columns {
        flex-direction: column;
        justify-content: center;
    }

    .about__img img {
        width: 50rem;
    }

    .about__body {
        width: 50rem;
        gap: 5rem;
    }

    .about__card {
        justify-content: center;
    }

    .about__card-title,
    .about__card-text {
        text-align: center;
    }

    .about__card-title {
        font-size: 3rem;
    }
}

@media (max-width: 572px) {
    .about__header {
        margin: 0 4rem;
    }

    .about__img img {
        width: 40rem;
    }

    .about__body {
        width: 40rem;
    }
}

@media (max-width: 425px) {
    .about__container {
        padding: 2rem 2.5rem;
    }

    .about__header {
        margin: 0;
    }

    .about__title,
    .about__card-title {
        font-size: 2rem;
    }

    .about__text,
    .about__card-text {
        font-size: 1.2rem;
    }

    .about__img img {
        width: 30rem;
    }

    .about__body {
        width: 30rem;
    }
}

@media (max-width: 320px) {
    .about__img img {
        width: 25rem;
    }

    .about__body {
        width: 25rem;
    }
}

// media queries for CLIENTS section

@media (max-width: 1024px) {
    .clients__logos {
        justify-content: space-evenly;
    }

    .clients__logo {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .clients__logos {
        flex-wrap: wrap;
        gap: 3rem;
    }

    .clients__logo {
        width: 24%;
        text-align: center;
    }

    .form__body {
        padding: 2rem 4rem;
    }

    .form__heading {
        font-size: 1.65rem;
        padding-right: 9rem;
        padding-top: 0.5rem;
    }
}

@media (max-width: 425px) {
    .clients__logos {
        padding: 7rem 0;
    }

    .clients__logo {
        width: 28%;
    }

    .clients__form {
        margin: 0;
    }

    .form__body {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 2rem;
    }

    .form__heading {
        padding: 0;
        text-align: center;
    }

    .form__input {
        width: 33rem;
    }
}

@media (max-width: 375px) {
    .clients__logos {
        gap: 8rem;
        padding: 7rem 1rem;
    }

    .clients__logo {
        width: 20%;
    }

    .form__input {
        width: auto;

        & input {
            padding: 1rem 2rem;
        }
    }

    .form__button {
        padding: 0.5rem;
    }
}

@media (max-width: 320px) {
    .form__button {
        margin-left: -7rem;
    }
}

// media queries for CONTACTS section

@media (max-width: 768px) {
    .contacts__container {
        gap: 4rem;
    }

    .contacts__text {
        padding: 0 9rem;
    }

    .contacts__body {
        display: block;
    }

    .contacts__card {
        padding: 3rem;
    }

    .contacts__card:nth-child(2) {
        padding: 3rem;
    }
}

@media (max-width: 425px) {
    .contacts__heading {
        font-size: 2rem;
    }

    .contacts__text {
        font-size: 1.2rem;
        padding: 0 4rem;
    }
}

@media (max-width: 320px) {
    .contacts__text {
        padding: 0 2rem;
    }

    .card__emails {
        font-size: 1.2rem;
    }
}

// FOOTER

@media (max-width: 768px) {
    .footer__body-second {
        flex-wrap: wrap;
        justify-content: center;
    }

    .column__heading-small {
        text-align: center;
    }

    .footer__container-third {
        padding: 2.5rem 2rem;
    }
}

@media (max-width: 425px) {
    .footer__container-first {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .footer__left {
        text-align: center;
    }

    .footer__right {
        padding: 0;
        margin: 0 auto;
    }

    .footer__body-second {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__container-third {
        padding: 2.5rem 1.5rem;
        gap: 1rem;
    }

    .footer__body-third {
        gap: 2rem;
    }

    .footer__text {
        font-size: 1.7rem;
    }

    .footer__socials {
        gap: 2rem;
        flex-wrap: wrap;
    }
}


