
.advantages {
    // .advantages__container

    &__container {
        display: flex;
        flex-direction: column;
        gap: 10rem;
        padding: 8rem 0;
        align-items: center;
    }

    // .advantages__header

    &__header {
        gap: 1rem;
    }

    // .advantages__title

    &__title {
        @extend %header-title;
    }

    // .advantages__text

    &__text {
        @extend %header-text;
        padding: 0 17.6rem;
    }

    // .advantages__colomns

    &__colomns {
        display: flex;
        gap: 3rem;
    }

    // .advantages__item

    &__item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        width: 23.8rem;
        padding: 1rem 0;
        background-color: rgb(245, 243, 243);
        border-radius: 0.5rem;
    }


    // .advantages__text-colomn

    &__text-colomn {
        @include font(1.6rem, 700, calc(2.4 / 1.6 * 100%), 0.01rem);
        color: $second-text-color;
    }
}
